/* COLORS */
/* #000000
#502F4C
#70587C
#C8B8DB
#F9F4F5 */

/* FONT-FAMILY */
/* font-family: 'Shadows Into Light', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Titillium Web', sans-serif; */


html, body {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: 'Indie Flower', cursive;    
}

.page_wrapper
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #C8B8DB;
}

header
{
    width: 100%;
    height: 130px;
    background-color: #502F4C;
    border-radius: 20px 20px 0 0;
}

h1
{
    font-size: 68px;
    margin: 0;
}

.topbar, .topbar-right, .row, .sign-in, .form-group, .box-flex
{
    display: flex;
}

.topbar
{
    padding: 0 5px 0 10px;
    justify-content: space-between;
}

.topbar-right
{
    align-items: center;
}

.topbar-right a
{
    color:#000000;
    text-decoration: none;
    margin-right: 20px;
    font-size: 40px;    
}

.topbar-right a:hover
{
    color:#C8B8DB;
}

.topbar-quote
{
    text-align: right;
    padding-right: 22px;
}

.page_wrapper > .row
{
    justify-content: space-between;
    background-color: #C8B8DB;    
}

.last-pics
{
    height: 640px;
    width: 350px;
    background-color: #502F4C;
    /* margin-right: 45px; */
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

.take-pics
{
    /* height: 440px;
    width: 550px; */
    /* background-color: #502F4C; */
    /* margin-left: 45px; */
    margin: auto;
    border-radius: 20px;
    /* pointer-events: none; */
}

.fake-row
{
    height: 100px;
    background-color: #C8B8DB;
}

h3
{
    margin: 0px;
    padding: 1em;
    text-align: center;
    border-bottom: solid #000000 2px;
}

h2
{
    text-align: center;
    font-size: 34px;
}

footer
{
    width: 100%;
    height: 100px;
    /* line-height: 100px; */
    background-color: #502F4C;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    display: flex;
}

/*
    SIGN IN
*/

.box-sign-in, .box-register
{
    width: 400px;    
    height: 550px;
    background-color: #502F4C;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 40px;
}

.box-register
{
    /* display: none; */
    height: 750px;
}

.box-sign-in
{
    /* display: none; */
    margin-top: 0px;
}

.sign-in
{
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-group
{
    width: 250px;
    height: 100px;
    background-color: #70587C;
    border-radius: 20px;
}

.form-group input
{
    height: 70%;
    width: 70%;
    margin: auto;
    /* RESET CSS */
    border:none;
    background-color:transparent;
    box-shadow: none;
    font-family: 'Indie Flower', cursive;    
    font-size: 22px;
}

.box-center
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text-big
{
    font-size: 26px;
}

.box-sign-in a
{
    color: #70587C;
}

/* .flower
{
    height: 13%;
    width: 13%;
} */

.flex-wrap
{
    flex-wrap: wrap;
}

.footer-txt
{
    margin: auto;
}

.video-stream
{
    position: absolute;
    /* top: 1px; */
    height: 240px;
    width: 320px;
    /* margin: auto; WHY IT DIDN'T WORK  */
    /* margin-top: 1rem; */
}

.video
{
    height: 320px;
}

.flex-center
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-take-pic
{
    margin-bottom: 2.2rem;
}

.disp-last-pics
{
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

canvas
{
    margin-top: 1rem;
}

.wrapper
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* grid-template-rows: repeat(auto-fit, 240px); */
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.gallery
{
    padding: 2rem;
}

.wrapper > section > img {
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
    display: block;
    margin: auto;
    padding-top: 1rem;
}

button
{
    background-color: #C8B8DB;
    font-family: 'Indie Flower', cursive;    
}

.frame
{
    /* margin: 1rem; */
    border-top: solid 6px #C8B8DB;
    margin-top: 20px;
    height: 240px;
    width: 650px;
    background-color: #502F4C;
    border-radius: 20px;
    flex-direction: row;
    justify-content: space-around;
}

.webcam
{
    border-radius: 20px;
    background-color: #502F4C;
    text-align: center;
}

.frame img
{
    width: 130px;
    height: 130px;
    display: block;
}

.frame input
{
    text-align: center;
}

.disp-last-pics div div, .gallery .btn
{
    display: flex;
    justify-content: space-around;
}

.gallery .wrapper section
{
    background-color: #502F4C;
    height: 18rem;
}

.gallery .btn
{
    padding-top: 0.3rem;
}

/* LIKE BUTTON */
.islike
{
    background: #b042f4;
}